<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title></title>
</head>
<body>
	<div th:fragment="bookList(books)" class="container">
		<p th:if="${books.empty}">No books found.</p>
		<div th:unless="${books.empty}" class="row">
			<div class="col-sm-7 col-md-5 col-lg-3 my-3" th:each="book : ${books}">
				<a th:href="@{/book/{id}(id=${book.id})}" style="text-decoration: none; color: inherit;">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title" th:text="${book.title}"></h5>
							<h6 class="card-subtitle" th:text="${book.subtitle}"></h6>
							<p class="card-text" th:text="${book.description}"></p>
						</div>
					</div>
				</a>
			</div>
		</div>
	</div>
</body>
</html>
