<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>Navbar</title>
</head>
<body>
	<nav th:fragment="navbar(activeTab)" class="navbar navbar-expand-sm navbar-dark bg-success">
	<div class="container-fluid">
			<span class="navbar-brand">
				<span style="font-family: Leckerli One;src: url('/s/LeckerliOne-Regular.ttf') format('truetype');">S</span>pring Book Store
			</span>
		<div class="navbar-nav me-auto">
			<a class="nav-link" th:classappend="${activeTab == 'home' ? 'active' : ''}" th:href="@{/}">Home</a>
			<a class="nav-link" th:classappend="${activeTab == 'book' ? 'active' : ''}" th:href="@{/book}">Books</a>
		</div>
		<div class="d-flex">
			<div class="navbar-nav">
				<a sec:authorize="isAuthenticated()" class="nav-link" th:classappend="${activeTab == 'profile' ? 'active' : ''}"
				   th:href="@{/profile}" th:text="${#httpServletRequest.remoteUser}"></a>
				<a sec:authorize="isAnonymous()" class="nav-link" th:href="@{/login}">Login</a>
			</div>
		</div>
	</div>
</nav>
</body>
</html>