<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Book - [[${book.title}]]</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<link href="/s/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous" />
	<link rel="shortcut icon" type="image/x-icon" href="s/favicon.ico"/>
</head>
<body>
	<nav th:replace="fragments/navbar.html :: navbar('book')"></nav>
	<div class="container mt-3">
		<p th:text="${book.id}"></p>
		<p th:text="${book.title}"></p>
	</div>
</body>
</html>
