<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Welcome</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<link href="/s/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous" />
	<link rel="shortcut icon" type="image/x-icon" href="s/favicon.ico"/>
</head>
<body>
	<nav th:replace="fragments/navbar.html :: navbar('home')"></nav>
	<div class="container mt-3">
		<h2>Featured books</h2>
		<div th:replace="fragments/bookList.html :: bookList(${featuredBooks})"></div>
		<p>To view the full collection visit <a th:href="@{/book}">books</a>.</p>
	</div>
</body>
</html>